<h2>Search for stocks</h2>

  <form novalidate>
    <label> Search Keyword(s): </label>
    <input type="text" ng-model="searchQuery">
    <input type="button" ng-click="searchStock()" value="Search">
  </form>

  <div>
    <h3>Search Results</h3>
    <table ng-show="showTable" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stock in searchResults">
          <td>{{stock.Name}}</td>
          <td>{{stock.Symbol}}</td>
          <td><button ng-click="addStock(stock.Symbol)">Add to Portfolio</button></td>
        </tr>
      </tbody>
    </table>
  </div>