  <form novalidate>
    <label> Search Keyword(s): </label>
    <input type="text" ng-model="searchQuery">
    <input type="button" ng-click="searchStock()" value="Search">
  </form>
  <h4 ng-show='showErr' style='color: red'>Please enter a valid search!</h4>
  <h4 ng-show='noneFound' style='color: red'>Sorry, no such stock exists!</h4>

  <div ng-show="showTable">
    <h3>Search Results</h3>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stock in searchResults">
          <td>{{stock.Name}}</td>
          <td>{{stock.Symbol}}</td>
          <td><button ng-click="addStock(stock.Symbol)">Add to Portfolio</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h2>Your Portfolio</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
              <th>Open</th>
              <th>High</th>
              <th>Low</th>
              <th>Last Price</th>
              <th>Shares</th>
              <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stock in stocks">
          <td>{{stock.symbol}}</td>
          <td>{{stock.name}}</td>
          <td>{{stock.open}}</td>
          <td>{{stock.high}}</td>
          <td>{{stock.low}}</td>
          <td>{{stock.lastPrice | currency: usd}}</td>
          <td>{{stock.shares}}</td>
          <td><button ng-click="removeShare(stock)">Remove Share</button> | <button ng-click="removeStock(stock)">Remove Stock</button></td>
        </tr>
      </tbody>
    </table>
  </div>
